<%= form_with(model: auto, local: true) do |form| %>
  <% if auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auto.errors.count, "error") %> prohibited this auto from being saved:</h2>

      <ul>
      <% auto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :auto_name %>
  </div>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo, id: :auto_modelo %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :auto_photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
